
--extra-index-url https://git.knut.univention.de/api/v4/projects/529/packages/pypi/simple
--extra-index-url https://git.knut.univention.de/api/v4/projects/537/packages/pypi/simple
livereload
myst_parser
Sphinx==4.1.2
sphinx-autobuild==2021.3.14
sphinx-copybutton==0.4.0
sphinx-sitemap==2.2.0
sphinx-toolbox==2.15.1
sphinxcontrib-mermaid
sphinxcontrib-svg2pdfconverter==1.2.0
univention-sphinx-book-theme
univention-sphinx-extension
