aiofiles==0.8.0
aiohttp
aiojobs
async-lru
async-property
base58>=2.0.1
click
colorlog
diskcache
distlib==0.3.0  # must match version installed by apk, or build will fail
factory_boy
Faker==13.2.0
fastapi==0.42.0
kelvin-rest-api-client>=1.7.0
lazy-object-proxy>=1.6.0
ldap3==2.9.1
pluggy>=1.0.0
pydantic[ujson,email]==0.32.2
PyJWT
pytest-asyncio==0.18.1
python-multipart==0.0.5
requests==2.27.1
service
uvicorn
zmq
